@import '../../styles/global.scss';

.header {
    padding: 2rem 1rem;
    text-align: center;
    background-color: $defaultBlack;

    .title {
        color: $darkSecondary;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
        font-family: $defaultCalibri;
    }

    .subtitle {
        font-size: 1.25rem;
        color: $darkSecondary;
        margin: 0.5rem;
        font-weight: 500;
        font-family: $defaultCourier;
    }
}