.cvContainer {
    font-family: 'Lato', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    border-radius: 1.5625rem;
    background: #fcf9f9;
    box-shadow: 44px 40px 0px 0px #f6e172;
    padding-top: 4rem;

    .leftSection {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: #fbfbf6;
        padding: 2rem;

        .about {
            .candidateName {
                color: #000;
                font-size: 2.25rem;
                font-style: normal;
                font-weight: 900;
                line-height: 140%;
            }

            .about {
                display: flex;
                text-align: justify;
                color: #0b0b0b;
                font-size: 1rem;
                margin-top: 1rem;
                line-height: 1.6;
            }
        }

        .workExperience {
            margin-top: 2rem;

            .sectionTitle {
                color: #0b0b0b;
                font-size: 1.375rem;
                font-weight: 700;
            }

            .jobCard {
                margin-top: 1.5rem;
                border-radius: 0.75rem;
                border: 1px solid #000;
                background: #fff;
                box-shadow: 15px 15px 0px 0px #3dc39b;
                padding: 1.5rem;

                .jobCardHeader {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;

                    .jobTitle {
                        font-weight: 700;
                    }

                    .workingPeriod {

                        font-weight: 400;
                        color: #595959;
                    }

                }

                .companyTitle {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .companyName {
                        font-weight: 600;
                        color: black;
                        cursor: pointer;
                        text-decoration: none;

                    }
                }

                ul {
                    list-style: disc;

                    li {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }

    .rightSection {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 2rem;

        .download {
            background-color: transparent;
            border: none;
            cursor: pointer
        }

        .profile {
            display: flex;
            align-items: center;
            flex-direction: column;

            div {
                padding-left: 1rem;
                padding-right: 1rem
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 24px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .switch input:not(:checked)+.slider {
                background-color: #0e65ac;
            }

            input:checked+.slider {
                background-color: rgb(222, 87, 87);
            }


            input:checked+.slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }

            .profilePicture {
                width: 13.25rem;
                height: 13.25rem;
                // flex-shrink: 0;
                box-shadow: 15px 15px 0px 0px #3dc39b;
                border-radius: 0.75rem;
                overflow: hidden;

                img {
                    object-fit: cover;
                }
            }

            .contactInfo {
                margin-top: 1rem;
                list-style: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;

                    p {
                        margin-top: 7px;
                        margin-bottom: 7px
                    }

                    img {
                        margin-right: 0.5rem;
                    }
                }

                div {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 0.5rem;
                    }

                    p {
                        margin: none;
                        margin-right: 1rem;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        cursor: pointer;
                        color: black;
                        font-weight: 600;
                    }

                }
            }

        }


        .education {
            .sectionTitle {
                color: #0b0b0b;
                font-size: 1.375rem;
                font-weight: 700;
            }

            .educationCard {
                margin-top: 1.5rem;
                border-radius: 0.75rem;
                border: 1px solid #000;
                background: #fff;
                box-shadow: 15px 15px 0px 0px #3dc39b;
                padding: 1.5rem;

                .degree {
                    // color: #3dc39b;
                    font-size: 1.125rem;
                    font-weight: 700;
                }

                p {
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        .skills {
            .sectionTitle {
                padding-top: 2rem;
                color: #0b0b0b;
                font-size: 1.375rem;
                font-weight: 700;
            }

            .skillsCard {
                margin-top: 1.5rem;
                border-radius: 0.75rem;
                border: 1px solid #000;
                background: #fff;
                box-shadow: 15px 15px 0px 0px #3dc39b;
                padding: 1.5rem;

            }

            ul {
                li {
                    div {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        p {
                            margin-top: 0.5rem;
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}