@import '../../../../styles/global.scss';

.socialContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  p {
    margin: 0;
  }

  .socialItem {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 0;

    @include respond-to(md) {
      padding: 0.5rem 0;
    }
  }
}
