@import '../../styles/global.scss';

.footer {
    display: flex;
    flex-direction: column;
    font-family: $defaultCalibri;
    padding: 1.5rem 1rem;
    color: $darkSecondary;
    background-color: $defaultBlack;
    margin: 0;

    @media (min-width: 640px) {
        flex-direction: row;
        gap: 1.5rem;
    }
}