@import '../../../styles/global.scss';

.section {
    background-color: $defaultBlack;
    padding: 3rem 1rem;

    .flexGrid {
        display: grid;
        gap: 1.5rem;

        .gridTwoCols {
            grid-template-columns: 1fr;
        }

        .education {
            padding: 1rem;
        }

        .educationTitle {
            font-family: $defaultCalibri;
            color: $darkSecondary;
            margin: 0;
        }

        .educationDetails {
            color: $darkSecondary;
            font-family: $defaultCourier;
        }
    }

}