@import '../../../styles/global.scss';

.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .gridContainer {
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;


        .educationGrid {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            padding-bottom: 1rem;

            @include respond-to(lg) {
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            }

            @include respond-to(md) {
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            }
        }

        .education {
            padding: 0;
            margin: 0;
        }

        .educationTitle {
            font-family: $defaultCalibri;
            margin: 0;
        }

        .educationDetails {
            font-family: $defaultCourier;
        }
    }

}