@import '../../../../styles/global.scss';

.info {

    .contactInfo {
        margin-top: 1rem;
        list-style: none;
        padding: 0;

        ul {
            padding-inline-start: 0;
        }

        li {
            font-size: small;
            display: flex;
            align-items: center;

            p {
                margin: 6px 0;
            }

            img {
                margin-right: 0.5rem;
            }
        }

        div {
            display: flex;
            align-items: center;
            margin-left: 0;
            padding-left: 0;

            p {
                margin: 0;
                margin-right: 1rem;
            }
        }

    }




    // .copyAlert {
    //     border-radius: 0.25rem;
    // }

    //     .copyButtonContainer {
    //         padding: 0;
    //         margin: 0;
    //         display: flex;

    //         .copy {
    //             padding-left: 2rem;
    //             background-color: transparent;
    //             border: none;
    //             cursor: pointer;
    //         }
    //     }
}

// @media (max-width: 500px) {
//     .info {
//         display: flex;
//         flex-direction: column;

//         .actions {
//             margin: 0;

//         }

//         .infoHeader {
//             font-size: 11px;
//         }



//         .contactInfo li,
//         .languageContainer a,
//         .links a {
//             font-size: 11px;
//         }

//         .profilePicture {
//             width: 6rem;
//             height: 6rem;
//             box-shadow: 10px 10px 0px 0px $green;
//             border-radius: 0.75rem;
//             overflow: hidden;
//             display: flex;
//             object-fit: cover;
//             position: relative;

//             img {
//                 width: 110%;
//                 height: 100%;
//                 object-fit: cover;
//                 border-radius: 0.75rem 0 0 0.75rem;
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 z-index: 1;
//             }
//         }

//         .contactInfo {
//             margin: 0;
//             padding: 0;
//             gap: 0;
//             display: flex;


//             ul {
//                 display: flex;
//                 flex-wrap: wrap;
//                 justify-content: space-between;
//                 margin-bottom: 0;
//             }

//             li {
//                 width: 50%;
//             }

//             .languageContainer {
//                 gap: 0;
//                 margin: 0;
//                 padding: 0;

//                 display: flex;
//                 // gap: 0.5rem;
//             }

//             .links {
//                 width: 90%;
//                 margin-top: 0.5rem;

//             }

//             div {
//                 margin: 0;
//                 padding: 0;
//                 gap: 0;
//             }

//         }

//         .infoHeader {
//             padding: 0;
//             margin: 0
//         }

//     }
// }