.form {
    padding: 0;
    margin: 0;
    // background-color: red;

    .drop {
        height: 3rem;
        width: 6rem;
        // background-color: blue;
        margin: 0;
        padding: 0;
    }
}