@import '../../styles/global.scss';

.navContainer {
    display: flex;
    color: $darkSecondary;
    font-family: $defaultCourier;
    position: fixed;
    background-color: $defaultBlack;
    width: 100%;

    .navSection {
        display: flex;
        margin-right: 1rem;

        &:hover {
            cursor: pointer;
            font-weight: 900;
            color: $englishGreen
        }
    }

}