@import '../../styles/global.scss';

.container {
    font-family: $defaultCalibri;
    width: 100%;
    max-width: 210mm;
    max-height: 297mm;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 0;


    .languageContainer {
        display: flex;
        padding-top: 0.4rem;

    }

    .sectionTitle {
        padding-bottom: 1rem;
    }

    .leftContainer,
    .rightContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .divider {
        height: 100%;
        max-width: 2px;
        padding: 0;
        margin: 0;
        background-color: $darkMain;
    }

    .contactInfo {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    .education {
        .degree {
            font-weight: 600;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
        }
    }


    .skills {
        display: flex;
        flex-direction: column;
        height: 350px;
        flex-wrap: wrap;
        column-count: 2;
        column-gap: 20px;



        .skill {
            // font-size: 15px;
        }
    }

    @media print {
        .container {
            flex-direction: column;
            page-break-inside: avoid;
        }
    }

    @page {
        size: A4;
        margin: 20mm;
    }
}