@import '../../styles/global.scss';

$headerTitle: 26px;
$sectionTitle: 22px;
$large: 16px;
$medium: 14px;
$small: 12px;


.container {
    font-family: $defaultCalibri;
    width: 100%;
    max-width: 210mm;
    max-height: 297mm;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0rem;
    padding: 2rem;

    .header {
        .sectionTitle {
            font-size: $headerTitle;
        }
    }

    .sectionTitle {
        font-size: $sectionTitle;
        padding-top: 0.2rem;
    }

    .candidateDescription {
        font-size: $sectionTitle;
    }

    .leftContainer,
    .rightContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }


    .leftContainer {
        .contactInfo {
            padding-top: 0.5rem;
            display: flex;
            flex-direction: column;
            width: 100%;

            .icon,
            .contactItem {
                font-size: $small;
            }

            .contactItem {
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }


        }

        .languageTitle {
            padding-top: 1rem;
            font-size: $medium;
        }

        .languagesContainer {

            font-size: $small;
            padding: 0.5rem 0 0 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .languageContainer {

                width: max-content;

                .language {
                    padding: 0;
                    font-size: $small;
                }
            }
        }


        .education {

            ul {

                padding: 0.5rem 0 0 1rem;
            }

            .educationItem {
                // padding-top: 0.5rem;
                font-size: $small;

                .degree {
                    font-weight: 500;
                    font-size: $medium;
                }

                .college {
                    font-size: $small;
                }
            }

        }

        .skills {
            display: flex;
            flex-direction: column;
            height: 200px;
            flex-wrap: wrap;
            column-count: 2;
            margin: 0;
            padding-left: 0.5rem;

            .skill {
                padding-top: 2px;
                font-size: 12px;
            }
        }



    }



    .rightContainer {
        .workExperience {
            .experienceContainer {
                padding-bottom: 1rem;

                .companyInfo {
                    display: flex;
                    gap: 2rem;
                    justify-content: start;
                    align-items: center;
                    padding-bottom: 0.5rem;

                    .companyName {
                        font-size: $large;
                        font-weight: 600;
                    }

                    .positionAndPeriod {
                        font-size: $medium;
                    }

                }

                .task {
                    padding-top: 2px;
                    font-size: $small;
                }

            }

        }

    }


    @media print {
        .container {
            flex-direction: column;
            page-break-inside: avoid;
            page-break-after: avoid;
            margin: 0;
            max-height: 295mm;
            max-width: 210mm;
            overflow: hidden;
        }
    }


    @page {
        size: A4;
        // margin: 20mm
    }
}