@import '../../styles/global.scss';

.container {
    font-family: $defaultCalibri;
    width: 100%;
    max-width: 210mm;
    max-height: 297mm;
    display: flex;
    flex-direction: row;
    overflow: hidden;



    .leftContainer,
    .rightContainer {
        display: flex;
        flex-direction: column;
    }

    .header,
    .section {
        padding: 10px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        height: 300px;
        flex-wrap: wrap;

        .skills {
            column-count: 2;
            column-gap: 20px;
            overflow-y: hidden;
        }
    }


    @media print {
        .container {
            flex-direction: column;
            page-break-inside: avoid;
        }
    }

    @page {
        size: A4;
        margin: 20mm;
    }
}