@import '../../styles/global.scss';

.info {
    display: flex;
    background-color: $defaultBlack;
    font-family: $defaultCourier;
    color: $darkSecondary;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-grow: 1;

    .infoGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        width: max-content;

        @include respond-to(lg) {
            grid-template-columns: repeat(2, 2fr);
        }

        @include respond-to(md) {
            grid-template-columns: repeat(1, 1fr);
        }

    }
}