@import '../../styles/global.scss';

.info {
    flex-direction: column;

    .infoHeader {
        display: flex;
        font-size: 12px;
        margin-left: 0;
        padding-left: 0;

    }

    .profilePicture {
        padding-top: 1rem;
        width: 9rem;
        height: 9rem;
        box-shadow: 15px 15px 0px 0px $green;
        border-radius: 0.75rem;
        overflow: hidden;
        display: flex;
        object-fit: cover;
        position: relative;

        img {
            width: 110%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.75rem 0 0 0.75rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    .actions {
        align-content: center;
    }

    .contactInfo {
        margin-top: 1rem;
        list-style: none;
        padding: 0;

        ul {
            padding-inline-start: 0;
        }

        li {
            font-size: small;
            display: flex;
            align-items: center;
            justify-content: left;

            p {
                margin: 6px 0;
            }

            img {
                margin-right: 0.5rem;
            }
        }

        div {
            display: flex;
            align-items: center;
            margin-left: 0;
            padding-left: 0;

            p {
                margin: 0;
                margin-right: 1rem;
            }
        }

        .links {
            display: flex;
            align-items: center;

            p {
                margin: 0;
                margin-right: 1rem;
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                cursor: pointer;
                color: $defaultBlack;
                font-weight: 600;

                .githubIcon {
                    margin: 0;
                }
            }
        }
    }

    .download {
        background-color: transparent;
        padding-left: 1rem;
        border: none;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        align-items: center;

        label {
            font-size: 11px;
        }
    }

    .languageContainer {
        display: flex;
        align-items: center;

        a {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            text-decoration: none;
            color: $defaultBlack;
            font-weight: 500;
        }
    }

    div {
        margin: 0.55rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .copyAlert {
        border-radius: 0.25rem;
    }

    .copyButtonContainer {
        padding: 0;
        margin: 0;
        display: flex;

        .copy {
            padding-left: 2rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}