@import '../../../styles/global.scss';

.container {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .skillsGridContainer {
        padding-top: 2rem;
        display: flex;
        justify-content: center;

        .skillGrid {

            padding-top: 1rem;
            font-family: $defaultCourier;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            justify-content: center;
            row-gap: 1rem;
            column-gap: 3rem;

            .skill {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.9rem;
            }

            @include respond-to(lg) {
                grid-template-columns: repeat(3, 1fr);
            }

            @include respond-to(md) {
                grid-template-columns: repeat(2, 1fr);
            }


        }
    }

}