@import '../../../styles/global.scss';

.section {
    background-color: $defaultBlack;
    padding: 3rem 1rem;

    .sectionHeader {
        text-align: center;
        margin-bottom: 2rem;

    }

    .sectionTitle {
        font-family: $defaultCalibri;
        color: $darkSecondary;
        font-size: 2rem;
        font-weight: bold;
        margin: 0.5rem 0;
    }

    .sectionDescription {
        max-width: 900px;
        font-family: $defaultCourier;
        margin: 0 auto;
        color: $darkSecondary;
        font-size: 1.125rem;
    }

    .flexGrid {
        display: grid;
        gap: 1.5rem;

        .gridTwoCols {
            grid-template-columns: 1fr;
        }

        .education {
            padding: 1rem;
        }

        .educationTitle {
            font-family: $defaultCalibri;
            color: $darkSecondary;
            margin: 0;
        }

        .educationDetails {
            color: $darkSecondary;
            font-family: $defaultCourier;
        }
    }

}