@import '../../../styles/global.scss';

.sectionHeader {
    text-align: center;
    color: $darkSecondary;
    padding-top: 2rem;

    .sectionTitle {
        font-size: 2rem;
    }

    .pageTitle {
        font-size: 3rem;
    }

    .pageTitle,
    .sectionTitle {
        font-family: $defaultCalibri;
        font-weight: bold;
    }

    .sectionDescription {
        font-family: $defaultCourier;
        max-width: 900px;
        margin: 0 auto;
        font-size: 1.125rem;
    }

}