@import '../../../styles/global.scss';

.skeleton,
.sectionHeader {
    text-align: center;
    color: $darkSecondary;
    padding-top: 2rem;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
    width: 100%;

    .skeleton,
    .sectionTitle {
        font-size: 2rem;
    }

    .pageTitle {
        font-size: 3rem;
    }

    .skeleton,
    .pageTitle,
    .sectionTitle {
        font-family: $defaultCalibri;
        font-weight: bold;
    }

    .skeleton,
    .sectionDescription {
        font-family: $defaultCourier;
        max-width: 900px;
        margin: 0 auto;
        font-size: 1.125rem;
    }


}