@import '../../../styles/global.scss';

.section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to(md) {
    padding: 2rem 0.5rem 2rem 0.5rem;
  }
}

.arrow {
  opacity: 0.7;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}
