@import '../../../styles/global.scss';

.section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to(md) {
    padding: 2rem 0.5rem 2rem 0.5rem;
  }
}

.dots {
  bottom: -30px;

  li {
    margin: 0 4px;

    button {
      &::before {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        opacity: 1;
      }
    }

    &.slick-active button::before {
      color: #fff;
      opacity: 1;
    }
  }
}
