@import '../../../../styles/global.scss';

.socialContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // color: $darkSecondary;
    margin-left: -3px;


    p {
        margin: 0;
        margin-right: 1rem;
    }

    a {
        display: flex;
        gap: 1rem;
        align-items: center;
        // color: $darkSecondary;
        text-decoration: none;
        cursor: pointer;

        @include respond-to(md) {
            padding-top: 0.5rem;
        }
    }
}