@import '../../../../styles/global.scss';

.languageContainer {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: flex-start;
    align-items: start;
    padding: 0;

    @include respond-to(md) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .language {
        display: flex;
        flex-direction: row;
        padding: 0;
        cursor: pointer;
        gap: 1rem;
        align-items: center;
        justify-self: start;
        margin: 0;
        text-decoration: none;
        font-weight: 500;

        img {
            justify-self: center;
        }
    }
}