@import '../../../../styles/global.scss';

.languageContainer {

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-height: min-content;
    // width: 100px !important;

    .language {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        gap: 1rem;
        align-items: center;
        justify-self: center;
        margin: 0;
        text-decoration: none;
        font-weight: 500;

        img {
            justify-self: center;
        }

        @include respond-to(md) {
            justify-self: flex-start;
        }
    }
}