$defaultCourier: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$defaultCalibri: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

:export {
  defaultCourier: $defaultCourier;
  defaultCalibri: $defaultCalibri;
}
