@import '../../styles/global.scss';

.menu {

    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    .menuItem {
        padding-left: 0;
        justify-self: flex-end;
    }

    .textItem {
        color: $defaultBlack;
        font-weight: 600
    }

}

@media (max-width: 500px) {
    .menu {
        background-color: gray;
        position: sticky;
        width: auto;
        margin-top: 4rem;
        padding: 1rem;
    }
}