@import '../../styles/global.scss';

.menu {

    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    .menuItem {
        padding-left: 0;
    }

    .textItem {
        color: $defaultBlack;
        font-weight: 600
    }

}

@media (max-width: 500px) {
    .menu {
        background: $mustard;
        background-color: $mustard;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        border-radius: 0;
        padding: 1rem;

        li {
            width: 100%;
        }

    }
}