@import '../../styles/global.scss';

.menu {

    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    .menuItem {
        padding-left: 0;
        justify-self: flex-end;
    }

    .textItem {
        color: $defaultBlack;
        font-weight: 600
    }

}