@import '../../../../styles/global.scss';

.languageContainer {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  column-gap: 2.25rem;
  row-gap: 1rem;
  padding: 0;
  margin: 0 auto;

  .language {
    display: flex;
    flex-direction: row;
    gap: 0.65rem;
    align-items: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

  @include respond-to(md) {
    grid-template-columns: repeat(2, minmax(4.75rem, 1fr));
    justify-content: stretch;
    width: 100%;
    margin: 0;
    column-gap: 1.25rem;
  }
}
